nav{
	width: 98.75%;
	position:absolute; top: 1px; left: 5px; right: 5px;
	margin-left:.2em;
	position: absolute;
	left: 0px;
	margin-left:.2em
	position: absolute
	top: 0px;
	left: 0px;
	z-index: -1;
}
#nav_bar ul{
	list-style: none;
	padding: .5em 0;
	background-color: #ED74A9;
	text-align: center;
	border-bottom: 8px solid #E72A74;
	border-radius: 2px 2px 2px 2px;
}

#nav_bar li{
	display: inline;
}
#nav_bar a{
	padding: 1em 1em;
	color: black;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}
nav > ul > li:hover > a {
	background-color: #E72A74;
	border-radius: 2px 2px 2px 2px;
}
#slideshow{
	float: right;
}
#facebook{
	float: left;
}
#bottom{
	clear: both;
}
#banner{
	margin-top: 53px;
	background-color: solid white;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}
#color-tab{
	background-color:#E72A74;
	border-radius: 2px 2px 2px 2px;
}


#logo{
	position:absolute;
	float:left
}
#teamphoto{
	margin-left:25%;
	margin-right:25%;

}
#skaters_pics{
  margin:5px;
  padding: 5px;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
}
  {
  margin:5px;
  padding: 5px;
  border:1px solid #0000ff;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:5px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:5px;
  }




